body {
    background-color: rgba(165, 211, 0, 0.47);
}
.wrapper {
    width: 800px;
    margin: 5px auto;
    border: 1px solid lightgrey;
    background-color: #A5702A;
}
.inputsub {
    border: 2px solid black;

}
#input,
#but,
#dela{
    margin: 0px auto auto 0px;
    height: 80px;
    width: 100%;
    font-size: 55;
}
#but {
    background-color:green;
    border:1px solid black;
}
#dela {
    background-color: lightblue;
    border: 1px solid black;
    height: 50px;
    font-size: 30;
}
.tasks {
    height: 100%;

}
.tasks div {
    float:top;
    height: 40px;
    background-color: orange;
    border: 1px solid black;
}
.tasks div:hover {
    background-color: #06B600;
}
.tasks div p {
    float: left;
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
}

.tasks div button {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}
.tasks div.aus {
    background-color: red;
}
.tasks div.aus p {
    text-decoration: line-through;
}
.del {
    background-color: red;
    border:1px solid black;
}
.yes {
    background-color:lightgreen;
    border: 1px solid black;
}
.no {
    background-color:pink;
    border:1px solid black;
}
#Aus{
    color: darkbrown;
    float: right;
    text-decoration: none;
    margin-right: 5px;
}
body .wrapper .tasks div .edit {
    float:right;
    background-color: yellow;
    border: 1px;
}
.edin {
    margin-top: 10px;
    margin-right: 5px;
}
body .wrapper .tasks div .done {
    float:left;
    background-color: yellow;
    border: 1px solid black;
}